
    <div class="navbar">
        <a href="/login">login</a>
        <a href="/home">home</a>
        <a href="/register">Register</a>
        <a href="/Secret">secret</a>
        <a href="/logout">log out</a>
    </div>

